@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="info-box">
    <p  class="info-box-content">
        Book Library Inventory Manager is a application
        that allows the user to add, edit, remove and view
        books for any library or book store. Providing an easy way to
        manage their stock/inventory.
    </p>
</div>
