@page
@model BookInventoryManager.Pages.Books.EditModel

@{
    ViewData["Title"] = "Edit Book";
}

<div>
    <a class="button secondary" asp-page="./Index">Back to List</a>
</div>

<h1>Edit Book</h1>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Book.ID" />

    <div>
        <label asp-for="Book.AuthorID"></label>
         <div><span class="text-danger" asp-validation-for="Book.AuthorID"></span></div>
        <input asp-for="Book.AuthorID" data-role="input" />
    </div>

    <div>
        <label asp-for="Book.CategoryID"></label>
         <div><span class="text-danger" asp-validation-for="Book.CategoryID"></span></div>
        <input asp-for="Book.CategoryID" data-role="input" />
    </div>

    <div>
        <label asp-for="Book.Title"></label>
         <div><span class="text-danger" asp-validation-for="Book.Title"></span></div>
        <input asp-for="Book.Title" data-role="input" />
    </div>

    <div>
        <label asp-for="Book.Description"></label>
         <div><span class="text-danger" asp-validation-for="Book.Description"></span></div>
        <textarea asp-for="Book.Description" data-role="textarea"></textarea>
    </div>

    <div>
        <label asp-for="Book.Quantity"></label>
         <div><span class="text-danger" asp-validation-for="Book.Quantity"></span></div>
        <input asp-for="Book.Quantity" data-role="input" />
    </div>

    <div>
        <label asp-for="Book.Edition"></label>
         <div><span class="text-danger" asp-validation-for="Book.Edition"></span></div>
        <input asp-for="Book.Edition" data-role="input" />
    </div>

    <div>
        <input class="button primary" type="submit" value="Save" />
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
